body {
  background-color: rgb(232, 232, 232);
  margin: 0;
}

.container1 {
  margin-top: 5%;
  background-color: #fff;
}

.card {
  width: 100%;
  margin-top: 10px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}

.board-game {
  background-color: #fff;
  height: 100vh;
  padding: 0;
}

.card-wrapper {
  position: fixed;
  right: 0;
  top: 50%;
}

.col-md-4 {
  background-color: #666;
  height: 100vh;
}

.col-md-2 {
  background-color: #fff;
}
